@model shopping_online.Context.Account

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Order.cshtml";
}

<header class="panel-heading">
    <h3>Are you sure you want to delete this?</h3>
</header>

<div class="panel-body">
    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_username)
        </label>
        @Html.EditorFor(model => model.account_username, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    @*<div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_password)

        </label>


        @Html.HiddenFor(model => model.account_password, new { htmlAttributes = new { @class = "form-control" } })
    </div>*@

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_email)
        </label>

        @Html.EditorFor(model => model.account_email, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_name)
        </label>


        @Html.EditorFor(model => model.account_name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_phone)
        </label>


        @Html.EditorFor(model => model.account_phone, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_address)
        </label>


        @Html.EditorFor(model => model.account_address, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_gender)
        </label>

        @if (Model.account_gender == true)
        {
            <td>Nam</td>
        }
        @if (Model.account_gender == false)
        {
            <td>Nữ</td>
        }

    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_status)
        </label>
        @if (Model.account_status == true)
        {
            <td style="text">Hoạt động</td>
        }
        @if (Model.account_status == false)
        {
            <td>Không hoạt động</td>
        }
    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.account_createdate)
        </label>


        @Html.EditorFor(model => model.account_createdate, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">
            @Html.DisplayNameFor(model => model.Role.Role_name)
        </label>


        @Html.EditorFor(model => model.Role.Role_name, new { htmlAttributes = new { @class = "form-control" } })
    </div>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col text-center">
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
        <hr />
        <div class=" add-task-row">
            <button class="btn btn-info">
                @Html.ActionLink("Back to List", "Index")
            </button>
        </div>
    }
</div>
