@model IEnumerable<shopping_online.Context.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Account.cshtml";
}

<div class="col-xs-12">
    <div class="panel">
        <header class="panel-heading">
            List Order

        </header>


        <div class="panel-body table-responsive">
            <div class=" add-task-row">
                <p class="btn btn-success btn-sm pull-left">
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <p> @Html.DisplayNameFor(model => model.account_username)</p>
                        </th>
                        <th>
                            <p>   @Html.DisplayNameFor(model => model.account_password)</p>
                        </th>
                        <th>
                            <p> @Html.DisplayNameFor(model => model.account_email)</p>
                        </th>
                        <th>
                            <p>  @Html.DisplayNameFor(model => model.account_name)</p>
                        </th>
                        <th>
                            <p>    @Html.DisplayNameFor(model => model.account_phone)</p>
                        </th>
                        <th>
                            <p> @Html.DisplayNameFor(model => model.account_address)</p>
                        </th>
                        <th>
                            <p>   @Html.DisplayNameFor(model => model.account_gender)</p>
                        </th>
                        <th>
                            <p>   @Html.DisplayNameFor(model => model.account_status)</p>
                        </th>
                        <th>
                            <p>    @Html.DisplayNameFor(model => model.account_createdate)</p>
                        </th>
                        <th>
                            <p>   @Html.DisplayNameFor(model => model.Role.Role_name)</p>
                        </th>
                        <th> <p>Action</p></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.account_address)
                            </td>
                            @if (item.account_gender == true)
                            {
                                <td>Nam</td>
                            }
                            @if (item.account_gender == false)
                            {
                                <td>Nữ</td>
                            }
                            @if (item.account_status == true)
                            {
                                <td>Hoạt động</td>
                            }
                            @if (item.account_status == false)
                            {
                                <td>Không hoạt động</td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.account_createdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.Role_name)
                            </td>
                            <td>
                                <a href="~/Accounts/Edit/@item.account_id"><button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button></a>
                                <a href="~/Accounts/Delete/@item.account_id"><button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>