@model shopping_online.Models.AccountLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="wrap-input100 validate-input m-b-26 col-md-offset-12">
        <span class="label-input100">Username</span>
        @Html.TextBoxFor(model => model.account_username, new { htmlAttributes = new { @class = "form-control col-md-12" } })
        @Html.ValidationMessageFor(model => model.account_username, "", new { @class = "text-danger" })
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-18 col-md-12">
        <span class="label-input100">Password</span>
        @Html.TextBoxFor(model => model.account_password, new { htmlAttributes = new { @class = "form-control col-md-12" } })
        @Html.ValidationMessageFor(model => model.account_password, "", new { @class = "text-danger" })
        <span class="focus-input100"></span>
    </div>

    <div class="flex-sb-m w-full p-b-30">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember me
            </label>
        </div>
    </div>
    <div class="flex-sb-m w-full p-b-20">
        <div>
            <a href="#" class="txt1">
                Forgot Password?
            </a>
        </div>
    </div>  

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Login
        </button>

    </div>



}


