@model shopping_online.Models.shipping

@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/shippinglayout.cshtml";

}




<header class="panel-heading">
    Create ship
</header>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>shipping</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.shipping_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shipping_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shipping_name, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.shipping_email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shipping_email, new { htmlAttributes = new { @class = "form-control", Type = "email" } })
                    @Html.ValidationMessageFor(model => model.shipping_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.shipping_phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shipping_phone, new { htmlAttributes = new { @class = "form-control", Type = "phone" } })
                    @Html.ValidationMessageFor(model => model.shipping_phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div class=" add-task-row">
        <div>
            @Html.ActionLink("Back to List", "Shipping")
        </div>
    </div>

</div>


