@model shopping_online.Context.Order

@{
    Layout = null;
}


<header class="panel-heading">
    Create ship
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div class="panel-body">
            <form role="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1"> Account ID </label>
                    @Html.DropDownList("account_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.account_id, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1"> Note </label>
                    @Html.EditorFor(model => model.Order_note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order_note, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1"> Status ID </label>
                    @Html.DropDownList("Order_status_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Order_status_id, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Total money</label>
                    @Html.EditorFor(model => model.Order_total_money, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order_total_money, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Order Date </label>
                    @Html.EditorFor(model => > model.Order_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Ship ID</label>
                    @Html.DropDownList("shipping_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.shipping_id, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                </form>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
     </div>  