@model shopping_online.Context.shipping

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ship.cshtml";
}

<header class="panel-heading">
    Create Ship
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="panel-body">
            <form role="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">
                        Name
                    </label>
                    @Html.EditorFor(model => model.shipping_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shipping_name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">
                        Email
                    </label>
                    @Html.EditorFor(model => model.shipping_email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shipping_email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">
                        Phone Number
                    </label>
                    @Html.EditorFor(model => model.shipping_phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shipping_phone, "", new { @class = "text-danger" })
                </div>



                <div class="form-actions no-color col text-center">
                    <input type="submit" value="Create" class="btn btn-default" />

                </div>
                <hr />
                <div class=" add-task-row">
                    <button class="btn btn-info">
                        @Html.ActionLink("Back to List", "Index")
                    </button>
                </div>

            </form>

        </div>
    </div>
}