@model shopping_online.Context.shipping

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>shipping</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.shipping_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.shipping_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.shipping_email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.shipping_email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.shipping_phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.shipping_phone)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.shipping_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
