@model shopping_online.Models.BlogModel

<head>

    <!-- Site made with Mobirise Website Builder v4.10.0, https://mobirise.com -->
    <meta charset="UTF-8">

    <meta name="generator" content="Mobirise v4.10.0, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo1.png" type="image/x-icon">
    <meta name="description" content="Bookstore Ebook Template Store - Download now!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">

    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/content/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,800&display=swap" rel="stylesheet">
    <title>
        Bookstore Ebook Store Template – DepotAMP
    </title>

    <link rel="canonical" href="bookstore.html">

    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">

    <style>
    </style>
    <style amp-custom="">
        div, span, h1, h2, h3, h4, h5, p, a, ul, li, input {
            font: inherit
        }

        * {
            box-sizing: border-box;
            outline: none
        }

            *:focus {
                outline: none
            }

        body {
            position: relative;
            font-style: normal;
            line-height: 1.5;
            color: #24262b;
            font-weight: 300
        }

        section {
            background-color: #ffffff;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            padding: 30px 0
        }

        section, .container, .container-fluid {
            position: relative;
            word-wrap: break-word
        }

        h1, h2, h3, h4, h5 {
            margin: 0;
            padding: 0
        }

        p, li {
            letter-spacing: 0.5px;
            line-height: 1.7
        }

        ul, p {
            margin-bottom: 0;
            margin-top: 0
        }

        a {
            cursor: pointer
        }

            a, a:hover {
                text-decoration: none
            }

        h1, h2, h3, h4, h5, .display-1, .display-2, .display-4, .display-5, .display-7 {
            word-break: break-word;
            word-wrap: break-word
        }

        strong {
            font-weight: bold
        }

        input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
            transition-delay: 9999s;
            transition-property: background-color,color
        }

        body {
            height: auto;
            min-height: 100vh
        }

        .mbr-section-title {
            margin: 0;
            padding: 0;
            font-style: normal;
            line-height: 1.2;
            width: 100%
        }

        .mbr-section-subtitle {
            line-height: 1.3;
            width: 100%
        }

        .mbr-text {
            font-style: normal;
            line-height: 1.6;
            width: 100%
        }

        .btn {
            text-align: center;
            position: relative;
            margin: .4rem .8rem;
            font-weight: 700;
            border-width: 2px;
            border-style: solid;
            font-style: normal;
            white-space: normal;
            transition: all .3s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            word-break: break-word;
            line-height: 1.5;
            letter-spacing: 1px
        }

        .card-title {
            margin: 0
        }

        .card-img {
            border-radius: 0;
            width: auto;
            flex-shrink: 0
        }

        .card {
            position: relative;
            background-color: transparent;
            border: none;
            border-radius: 0;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem
        }

        @@media (max-width: 767px) {
            .card:not(.last-child) {
                padding-bottom: 2rem
            }
        }

        .card .card-wrapper {
            height: 100%
        }

        @@media (max-width: 767px) {
            .card .card-wrapper {
                flex-direction: column
            }
        }

        @@media (max-width: 991px) {
            .md-pb {
                padding-bottom: 2rem
            }
        }

        .card-inner, .items-list {
            display: flex;
            flex-direction: column
        }

        .items-list {
            list-style-type: none;
            padding: 0
        }

            .items-list .list-item {
                padding: 1rem 2rem
            }

        .card-head {
            padding: 1.5rem 2rem
        }

        .card-price-wrap {
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column
        }

        .card-button {
            padding: 1rem;
            margin: 0
        }

        .gallery-img-wrap amp-img {
            height: 100%
        }

        amp-image-lightbox a.control {
            position: absolute;
            width: 32px;
            height: 32px;
            right: 48px;
            top: 32px;
            z-index: 1000
        }

            amp-image-lightbox a.control .close {
                position: relative
            }

                amp-image-lightbox a.control .close:before, amp-image-lightbox a.control .close:after {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 33px;
                    width: 2px;
                    background-color: #fff
                }

                amp-image-lightbox a.control .close:before {
                    transform: rotate(45deg)
                }

                amp-image-lightbox a.control .close:after {
                    transform: rotate(-45deg)
                }

        .lightbox {
            background: rgba(0,0,0,0.8);
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center
        }

        .mbr-white {
            color: #ffffff
        }

        .mbr-black {
            color: #24262b
        }

        .align-left {
            text-align: left
        }

            .align-left .list-item {
                justify-content: flex-start
            }

        .align-center {
            text-align: center
        }

        @@media (max-width: 767px) {
            .align-left, .align-center {
                text-align: center
            }

                .align-left .list-item {
                    justify-content: center
                }
        }

        .mbr-regular {
            font-weight: 400
        }

        .mbr-semibold {
            font-weight: 600
        }

        .mbr-bold {
            font-weight: 700
        }

        .mbr-section-btn {
            margin-left: -.8rem;
            margin-right: -.8rem;
            font-size: 0
        }

        nav .mbr-section-btn {
            margin-left: 0rem;
            margin-right: 0rem
        }

        .btn .mbr-iconfont {
            cursor: pointer;
            margin-left: 0.5rem
        }

        [type="submit"] {
            -webkit-appearance: none
        }

        .mbr-overlay {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0
        }

        section.menu {
            min-height: 70px
        }

        .menu-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 70px
        }

        @@media (max-width: 991px) {
            .menu-container {
                max-width: 100%;
                padding: 0 2rem
            }
        }

        @@media (max-width: 767px) {
            .menu-container {
                padding: 0 1rem
            }
        }

        .navbar {
            z-index: 100;
            width: 100%
        }

        .navbar-fixed-top {
            position: fixed;
            top: 0
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            word-break: break-word;
            z-index: 1
        }

        .navbar-logo {
            margin-right: .8rem
        }

        @@media (max-width: 767px) {
            .navbar-logo amp-img {
                max-height: 55px;
                max-width: 55px
            }
        }

        .navbar-caption-wrap {
            display: flex
        }

        .navbar .navbar-collapse {
            display: flex;
            flex-basis: auto;
            align-items: center;
            justify-content: flex-end
        }

        @@media (max-width: 991px) {
            .navbar .navbar-collapse {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                min-height: 100vh;
                padding: 70px 2rem 1rem;
                z-index: 1
            }
        }

        .navbar-nav {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            min-width: 10rem
        }

        @@media (max-width: 991px) {
            .navbar-nav {
                flex-direction: column
            }
        }

        .nav-item {
            word-break: break-all
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center
        }

        .nav-link, .navbar-caption {
            transition: all 0.2s;
            letter-spacing: 1px
        }

        .nav-dropdown .dropdown-menu {
            min-width: 10rem;
            padding-bottom: 1.25rem;
            padding-top: 1.25rem;
            position: absolute;
            left: 0
        }

            .nav-dropdown .dropdown-menu .dropdown-item {
                line-height: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .25rem 1.5rem;
                white-space: nowrap
            }

        .nav-item.dropdown {
            position: relative
        }

            .nav-item.dropdown .dropdown-menu {
                opacity: 0;
                pointer-events: none
            }

            .nav-item.dropdown:hover > .dropdown-menu {
                opacity: 1;
                pointer-events: all
            }

        .link.dropdown-toggle:after {
            content: '';
            margin-left: .25rem;
            border-top: 0.35em solid;
            border-right: 0.35em solid transparent;
            border-left: 0.35em solid transparent;
            border-bottom: 0
        }

        .navbar .dropdown.open > .dropdown-menu {
            display: block
        }

        @@media (max-width: 991px) {
            .dropdown-item {
                padding: .25rem 1.5rem;
                margin: 0;
                justify-content: center
            }

                .dropdown-item:after {
                    right: auto
                }

            .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
                content: '';
                margin-left: .25rem;
                border-top: .35em solid;
                border-right: .35em solid transparent;
                border-left: .35em solid transparent;
                border-bottom: 0;
                top: 55%
            }
        }

        .navbar-buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center
        }

        @@media (max-width: 991px) {
            .navbar-buttons {
                flex-direction: column
            }
        }

        @@media (max-width: 992px) {
            .google-map {
                padding: 0;
                margin: 0
            }
        }

        div[submit-success] {
            padding: 1rem;
            margin-bottom: 1rem
        }

        div[submit-error] {
            padding: 1rem;
            margin-bottom: 1rem
        }

        amp-img {
            width: 100%
        }

            amp-img img {
                max-height: 100%;
                max-width: 100%
            }

        .rounded {
            border-radius: 50%
        }

        .is-builder amp-img > a + img[async], .is-builder amp-img > a + img[decoding="async"] {
            display: none
        }

        html:not(.is-builder) amp-img > a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1
        }

        .container-fluid {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding-left: 1rem;
            padding-right: 1rem
        }

        .mbr-flex {
            display: flex
        }

        .mbr-jc-c {
            justify-content: center
        }

        .mbr-row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -1rem;
            margin-left: -1rem
        }

        .mbr-column {
            flex-direction: column
        }

        .field {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0.5rem
        }

        @@media (max-width: 768px) {
            .field {
                flex-basis: 100%
            }
        }

        @@media (max-width: 767px) {
            .mbr-col, .mbr-col-auto {
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-sm-12 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 1rem;
                padding-left: 1rem
            }
        }

        @@media (min-width: 768px) {
            .mbr-col-md-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-md-5 {
                -ms-flex: 0 0 41.666667%;
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-md-6 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-md-8 {
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%;
                padding-left: 1rem;
                padding-right: 1rem
            }

            .mbr-col-md-12 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 1rem;
                padding-left: 1rem
            }
        }

        @@media (min-width: 992px) {
            .mbr-col-lg-2 {
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 16.666667%;
                max-width: 16.666667%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-lg-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-lg-4 {
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-lg-6 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 1rem;
                padding-left: 1rem
            }

            .mbr-col-lg-8 {
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%;
                padding-left: 1rem;
                padding-right: 1rem
            }

            .mbr-col-lg-12 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 1rem;
                padding-left: 1rem
            }
        }

        .mbr-pt-1 {
            padding-top: .5rem
        }

        .mbr-pt-2 {
            padding-top: 1rem
        }

        .mbr-pt-3 {
            padding-top: 1.5rem
        }

        .mbr-pt-4 {
            padding-top: 2rem
        }

        .mbr-pb-2 {
            padding-bottom: 1rem
        }

        .mbr-pb-3 {
            padding-bottom: 1.5rem
        }

        .mbr-pb-4 {
            padding-bottom: 2rem
        }

        .mbr-pb-5 {
            padding-bottom: 3rem
        }

        .mbr-px-4 {
            padding-left: 2rem;
            padding-right: 2rem
        }

        @@media (max-width: 991px) {
            .mbr-px-4 {
                padding-left: 1rem;
                padding-right: 1rem
            }
        }

        .mbr-m-auto {
            margin: auto
        }

        form input {
            border-radius: 0;
            background-color: #ffffff;
            margin: 0;
            transition: 0.4s;
            width: 100%;
            border: 1px solid #e0e0e0;
            padding: 11px 1rem;
            margin: 0.5rem 0
        }

        amp-img {
            height: 100%;
            width: 100%
        }

        amp-sidebar {
            background: transparent
        }

        .amp-carousel-button {
            outline: none;
            border-radius: 50%;
            border: 10px transparent solid;
            transform: scale(1.5) translateY(-50%);
            height: 45px;
            width: 45px;
            transition: 0.4s;
            cursor: pointer
        }

            .amp-carousel-button:hover {
                opacity: 1
            }

        .amp-carousel-button-next {
            background-position: 75% 50%
        }

        .amp-carousel-button-prev {
            background-position: 25% 50%
        }

        .iconfont-wrapper {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem
        }

        .amp-iconfont {
            vertical-align: middle;
            width: 1.5rem;
            height: 100%;
            font-size: 1.5rem
        }

        .mbr-iconfont-btn {
            order: 2;
            padding-bottom: 1px
        }

        .btn:hover .mbr-iconfont-btn {
            transform: translateX(0.5rem)
        }

        .item-wrapper {
            height: 100%;
            position: relative
        }

            .item-wrapper:hover .item-img .btn {
                opacity: 1;
                bottom: 1rem
            }

        .amp-shop .item, .amp-shop .card1 {
            margin-bottom: 3rem
        }

        amp-img img {
            object-fit: cover
        }

        .shop8 .amp-shop .item, .shop9 .amp-shop .item {
            margin-bottom: 6rem;
            padding-bottom: 0rem
        }

        .amp-shop .item {
            cursor: pointer
        }

        .amp-shop .close {
            background: none;
            border: none;
            position: absolute;
            top: 15px;
            right: 15px;
            line-height: 1rem;
            font-size: 3rem;
            z-index: 1111;
            cursor: pointer
        }

            .amp-shop .close span {
                color: #777777
            }

        .amp-shop .lightbox-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100
        }

            .amp-shop .lightbox-wrapper .lightbox-bg {
                height: 100%;
                width: 100%;
                background-color: #000000;
                opacity: 0.4
            }

        .amp-shop .lightbox-window {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0
        }

        .amp-shop .item-box {
            justify-content: center;
            position: relative;
            width: 100%;
            background: #efefef;
            overflow: auto
        }

        @@media (min-width: 992px) {
            .amp-shop .item-box {
                max-width: 1000px
            }
        }

        @@media (max-width: 991px) {
            .amp-shop .item-box {
                width: 90%;
                margin: 1rem
            }
        }

        @@media (min-width: 992px) {
            .amp-shop .item-box-img {
                padding: 2rem
            }
        }

        @@media (max-width: 991px) {
            .amp-shop .item-box-img {
                padding: 1rem
            }
        }

        .amp-shop .item-box-img amp-img {
            height: auto
        }

        div[submit-error] {
            background: #b2ccd2
        }

        .display-1 {
            font-family: 'Barlow Semi Condensed',sans-serif;
            font-size: 4rem;
            line-height: 1
        }

        .display-2 {
            font-family: 'Barlow Semi Condensed',sans-serif;
            font-size: 2.5rem;
            line-height: 1.2
        }

        .display-4 {
            font-family: 'Heebo',sans-serif;
            font-size: 0.9rem;
            line-height: 1.4
        }

        .display-5 {
            font-family: 'Barlow Semi Condensed',sans-serif;
            font-size: 1.4rem;
            line-height: 1.3
        }

        .display-7 {
            font-family: 'Heebo',sans-serif;
            font-size: 1.1rem;
            line-height: 1.6
        }

        .cid-rslFJC9ynI .iconfont-wrapper .amp-iconfont {
            vertical-align: middle;
            font-size: 1.3rem;
            width: 1.3rem
        }

        .cid-rsq6I1iuyl {
            padding-top: 10rem;
            padding-bottom: 10rem;
            background-image: url("assets/images/mbr-1920x1080.jpg")
        }

            .cid-rsq6I1iuyl .mbr-overlay {
                background-color: #33363b;
                opacity: 0.8
            }

            .cid-rsq6I1iuyl .card-wrapper {
                z-index: 1
            }

        @@media (max-width: 991px) {
            .cid-rsq6I1iuyl .card-wrapper {
                flex-wrap: wrap
            }
        }

        .cid-rsq6I1iuyl .card {
            border-right: 2px solid #c1c1c1
        }

        @@media (max-width: 991px) {
            .cid-rsq6I1iuyl .card {
                border: none
            }
        }

        .cid-rsq6I1iuyl .iconfont-wrapper {
            height: 2.5rem;
            width: 2.5rem;
            display: inline-block
        }

            .cid-rsq6I1iuyl .iconfont-wrapper .amp-iconfont {
                color: #ffffff;
                transition: color 0.2s;
                vertical-align: bottom
            }

        @@media (min-width: 768px) {
            .cid-rsq6I1iuyl .iconfont-wrapper .amp-iconfont {
                font-size: 2.5rem;
                width: 2.5rem
            }
        }

        @@media (max-width: 767px) {
            .cid-rsq6I1iuyl .iconfont-wrapper .amp-iconfont {
                font-size: 2.5rem;
                width: 2.5rem
            }
        }

        .cid-rsq6I1iuyl .last-child {
            border: none
        }

        .cid-rsq6I1iuyl .wrapper {
            max-width: 600px;
            margin: auto
        }

        .cid-rsq6I1iuyl .card-box {
            width: 100%
        }

        .cid-rsq6I1iuyl .mbr-section-subtitle {
            color: #efefef
        }

        .cid-rsqmKlUOkO {
            padding-top: 3rem;
            padding-bottom: 3rem;
            align-items: center;
            display: flex;
            background-color: #ffffff
        }

            .cid-rsqmKlUOkO .image-block {
                height: 100%
            }

            .cid-rsqmKlUOkO .title-wrap {
                background: #efefef;
                width: 50%;
                padding: 5rem 1.5rem
            }

            .cid-rsqmKlUOkO .image-wrap {
                padding-right: 0;
                width: 50%
            }

        @@media (max-width: 1200px) {
            .cid-rsqmKlUOkO .mbr-flex {
                display: block
            }

            .cid-rsqmKlUOkO .title-wrap, .cid-rsqmKlUOkO .image-wrap {
                width: 100%
            }
        }

        .cid-rsqmKlUOkO .mbr-section-title, .cid-rsqmKlUOkO .mbr-section-btn {
            color: #767676
        }

        .cid-rsqnMngTpj {
            padding-top: 3rem;
            padding-bottom: 0rem;
            background-color: #efefef
        }

            .cid-rsqnMngTpj h4, .cid-rsqnMngTpj p, .cid-rsqnMngTpj span {
                margin: 0;
                padding: 0
            }

        @@media (min-width: 1400px) {
            .cid-rsqnMngTpj .container-fluid {
                padding: 0 6rem
            }
        }

        .cid-rsqnMngTpj .item-title {
            margin: auto
        }

        .cid-rsqnMngTpj .item-content {
            text-align: center;
            padding-top: 0rem
        }

        .cid-rsqnMngTpj .item-img .btn {
            position: absolute;
            left: 50%;
            opacity: 0;
            width: fit-content;
            bottom: -0.5rem;
            transform: translate(-50%,-50%)
        }

        .cid-rsqnMngTpj .item-wrapper {
            height: 100%;
            position: relative
        }

            .cid-rsqnMngTpj .item-wrapper:hover .item-img .btn {
                opacity: 1;
                bottom: 0rem
            }

        @@media (max-width: 767px) {
            .cid-rsqnMngTpj .item-img .btn {
                opacity: 1;
                bottom: 0rem
            }
        }

        .cid-rsqniVZ6fy {
            padding-top: 3rem;
            padding-bottom: 3rem;
            align-items: center;
            display: flex;
            background-color: #ffffff
        }

            .cid-rsqniVZ6fy .card-item1 {
                background-image: url("assets/images/mbr-1920x1276.jpg");
                background-size: cover;
                background-position: center
            }

            .cid-rsqniVZ6fy .card-item2 {
                background-color: #e7d8d6;
                background-position: center
            }

            .cid-rsqniVZ6fy .title-wrap {
                align-items: center;
                width: 100%;
                padding: 4rem 3rem
            }

        @@media (max-width: 767px) {
            .cid-rsqniVZ6fy .title-wrap {
                padding: 3rem 2rem
            }
        }

        .cid-rsqmYWOsLd {
            padding-top: 4rem;
            padding-bottom: 4rem;
            background-color: #33363b
        }

            .cid-rsqmYWOsLd * {
                word-break: break-word
            }

            .cid-rsqmYWOsLd .price-sign {
                vertical-align: top
            }

            .cid-rsqmYWOsLd .items-list-wrap .list-item {
                display: flex;
                align-items: center
            }

            .cid-rsqmYWOsLd .iconfont-wrapper {
                margin-right: 0.5rem;
                width: 1rem;
                height: auto;
                display: inline-block
            }

            .cid-rsqmYWOsLd .amp-iconfont {
                color: #b79b6c;
                font-size: 1rem;
                width: 1rem;
                vertical-align: middle
            }

            .cid-rsqmYWOsLd .card-inner, .cid-rsqmYWOsLd .card-price-wrap, .cid-rsqmYWOsLd .list-item {
                background: transparent
            }

            .cid-rsqmYWOsLd .card-inner {
                position: relative
            }

                .cid-rsqmYWOsLd .card-inner .mbr-overlay {
                    opacity: 1;
                    background-color: #efefef
                }

                .cid-rsqmYWOsLd .card-inner div:not(.mbr-overlay) {
                    z-index: 1
                }

            .cid-rsqmYWOsLd .items-list .list-item {
                padding: 0.2rem 0
            }

            .cid-rsqmYWOsLd .card-inner {
                padding: 2rem 2rem
            }

            .cid-rsqmYWOsLd .card-price-wrap {
                padding: 1rem 0
            }

            .cid-rsqmYWOsLd .card-head {
                border-bottom: 1px solid #767676;
                padding: 0
            }

            .cid-rsqmYWOsLd .card-button {
                padding: 0;
                margin: 0
            }

                .cid-rsqmYWOsLd .card-button .btn {
                    margin: 0rem;
                    margin-top: 1rem
                }

            .cid-rsqmYWOsLd .mbr-section-title {
                color: #ffffff
            }

        .cid-rsqn0AsQen {
            padding-top: 45px;
            padding-bottom: 75px;
            background-color: #ffffff
        }

            .cid-rsqn0AsQen .card-img {
                width: 35%;
                padding: 2rem;
                padding-bottom: 0
            }

            .cid-rsqn0AsQen .icons-list .amp-iconfont {
                font-size: 2rem;
                width: 2rem;
                vertical-align: middle;
                color: #33363b
            }

            .cid-rsqn0AsQen .card-wrapper {
                background: #efefef
            }

        .cid-rsqn36k69L {
            padding-top: 105px;
            padding-bottom: 105px;
            background-image: url("assets/images/mbr-1920x1279.jpg")
        }

            .cid-rsqn36k69L .mbr-overlay {
                background-color: #ffffff;
                opacity: 0.3
            }

            .cid-rsqn36k69L input, .cid-rsqn36k69L .btn {
                margin: 0
            }
    </style>

    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <script async="" custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async="" custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async="" custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async="" custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async="" custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async="" custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script async="" custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async="" custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>


    <script async="" custom-element="amp-auto-lightbox" data-script="amp-auto-lightbox" i-amphtml-inserted="" crossorigin="anonymous" src="https://cdn.ampproject.org/rtv/012206221455000/v0/amp-auto-lightbox-0.1.js"></script>
    <script async="" custom-element="amp-loader" data-script="amp-loader" i-amphtml-inserted="" crossorigin="anonymous" src="https://cdn.ampproject.org/rtv/012206221455000/v0/amp-loader-0.1.js"></script>
</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +84 393 767 515</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> hoalac@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="https://www.facebook.com/batmann2112/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index","ListHome")">
                                <img src="~/Content/images/home/logo.png" style="background-color:white" />
                            </a>

                        </div>
                        <div class="btn-group pull-right">
                            @*<div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                        USA
                                        <span class="caret"></span>
                                    </button>
                                </div>*@

                            @*<div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                        DOLLAR
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Canadian Dollar</a></li>
                                        <li><a href="#">Pound</a></li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @*<li><a href="#"><i class="fa fa-user"></i> Account</a></li>*@
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                                    <li><a href="@Url.Action("Logout","Login")"><i class="fa fa-lock"></i>Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Login","Login")"><i class="fa fa-lock"></i> Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index","ListHome")">Home</a></li>

                                <li><a href="@Url.Action("Index","PageProduct")">Product All</a></li>




                                <li>
                                    <a href="@Url.Action("Index","Blog")">Blog</a>

                                </li>
                                <li><a href="@Url.Action("Index","AboutUs")" class="active">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                    {
                        <div class="col-sm-3">
                            <div class="search_box pull-right">
                                <input type="search" name="search" placeholder="Search" onchange="myFunction(this.value)" />
                            </div>
                        </div>
                    }

                    @*@using (Html.BeginForm("Index", "ListHome", FormMethod.Get))
                        {
                            <div class="col-sm-3">
                                <div class="search_box pull-right">
                                    @Html.TextBox("search",null,(new { @placeholder = "Search" }))
                                </div>
                            </div>
                        }*@

                </div><!--/header-bottom-->
    </header><!--/header-->
    <section class="header3 cid-rsq6I1iuyl" id="header03-5g">


        <div class="mbr-overlay"></div>
        <div class="container">

            <div class="wrapper">
                <div class="title-wrap mbr-pb-5 align-center">
                    <h2 class="mbr-section-title mbr-semibold mbr-white mbr-fonts-style display-1">E-SHOPPER STORE</h2>
                    <h1 class="mbr-section-subtitle mbr-regular mbr-white mbr-fonts-style mbr-pt-3 display-7">E-SHOPPER is all about footwear. We have been in the shoe business for over 130 years. Yes, you read that correctly, over a century plus a quarter. Today we are proud to offer our best customer service to patrons both online here at ShoeStores.com and in our shoe stores in the Indianapolis, IN area. For more information about the 130  history of Stout's Footwear, visit our history page.</h1>
                </div>
                <div class="mbr-row mbr-jc-c">
                    <div class="card mbr-col-sm-12 mbr-col-md-8 mbr-col-lg-4 align-center md-pb">
                        <div class="card-wrapper mbr-flex mbr-column">
                            <div class="card-img align-center mbr-pb-2">
                                <div class="iconfont-wrapper">
                                    <span class="amp-iconfont mobi-mbri-shopping-cart mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="100%" height="100%"><path d="M21 19H5.2l-3-15H0V2h3.8l.8 4H23l-1.2 9H6.4l.4 2H21v2zM6 13h14l.7-5H5l1 5zm2 7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg></span>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title mbr-bold mbr-white mbr-fonts-style display-7">Wide Selection</h3>



                            </div>
                        </div>
                    </div>
                    <div class="card mbr-col-sm-12 mbr-col-md-8 mbr-col-lg-4 align-center md-pb">
                        <div class="card-wrapper mbr-flex mbr-column">
                            <div class="card-img align-center mbr-pb-2">
                                <div class="iconfont-wrapper">
                                    <span class="amp-iconfont mobi-mbri-delivery mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="100%" height="100%"><path d="M15 3L6 7.5v10.1l9 4.5 9-4.5V7.5L15 3zm5.8 5.1L15 11 9.2 8.1 15 5.2l5.8 2.9zM8 9.7l6 3v6.7l-6-3V9.7zm8 9.7v-6.7l6-3v6.7l-6 3zM0 7h4v2H0V7zm0 4h4v2H0v-2zm0 4h4v2H0v-2z"></path></svg></span>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title mbr-bold mbr-white mbr-fonts-style display-7">
                                    Fast Delivery
                                </h3>
                            </div>




                        </div>
                    </div>
                    <div class="card mbr-col-sm-12 mbr-col-md-8 mbr-col-lg-4 align-center last-child">
                        <div class="card-wrapper mbr-flex mbr-column">
                            <div class="card-img align-center mbr-pb-2">
                                <div class="iconfont-wrapper">
                                    <span class="amp-iconfont mobi-mbri-users mobi-mbri"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="100%" height="100%"><path d="M19.7 11.7c.8-.8 1.3-2 1.3-3.2C21 6 19 4 16.5 4S12 6 12 8.5c-.4-.3-.9-.6-1.4-.8.8-.8 1.4-2 1.4-3.2C12 2 10 0 7.5 0S3 2 3 4.5c0 1.3.5 2.4 1.3 3.2C1.8 8.9 0 11.5 0 14.5V20h9v4h15v-5.5c0-3-1.8-5.6-4.3-6.8zM16.5 6C17.9 6 19 7.1 19 8.5S17.9 11 16.5 11 14 9.9 14 8.5 15.1 6 16.5 6zM5 4.5C5 3.1 6.1 2 7.5 2S10 3.1 10 4.5 8.9 7 7.5 7 5 5.9 5 4.5zm-3 10C2 11.5 4.5 9 7.5 9c2.1 0 4.1 1.3 5 3.2-2 1.2-3.3 3.4-3.5 5.8H2v-3.5zM22 22H11v-3.5c0-3 2.5-5.5 5.5-5.5s5.5 2.5 5.5 5.5V22z"></path></svg></span>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title mbr-bold mbr-white mbr-fonts-style display-7">
                                    Friendly Staff
                                </h3>
                            </div>




                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>FU</span>-shopper</h2>
                            <p>NO1</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        @foreach (var item in Model.ListProducts.Take(4))
                        {
                            <div class="col-sm-3">

                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/product-details/product/@item.product_image" />

                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>@item.product_name</p>

                                </div>
                            </div>}


                        @*<div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/product-details/product/MLB LA DODGERS.jpg" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/product-details/product/Nike Air Force 1 Pixel.jpg" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/product-details/product/Reebok Pump Fury Phoenix Suns.jpg" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>*@
                    </div>
                    <div class="col-sm-3 ">
                        <div class="address">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4855345740843!2d105.52487561493238!3d21.013249986006773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1646752313959!5m2!1svi!2s"
                                    width="240" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Sản Phẩm</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Giày Nam</a></li>
                                <li><a href="#">Giày Nữ</a></li>
                                <li><a href="#">Thời trang & Phụ kiện</a></li>
                                <li><a href="#">Sale-off</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Về Công Ty</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                                @*<li><a href="#">Womens</a></li>*@
                                @*<li><a href="#">Gift Cards</a></li>
                                    <li><a href="#">Shoes</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Hỗ Trợ</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Bảo Mật Thông Tin</a></li>
                                <li><a href="#">Chính Sách</a></li>
                                <li><a href="#">Tra Cứu</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Góp Ý</a></li>
                                <li><a href="#">Hotline</a></li>
                                <li><a href="#">0393 767 515</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2022 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
</body>