@model shopping_online.Context.Function

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Order.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Function</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.function_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.function_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.function_ordernumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_ordernumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.function_createday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.function_createday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.function_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
