@model IEnumerable<shopping_online.Context.Function>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Account.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.function_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.function_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.function_ordernumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.function_createday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.function_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.function_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.function_ordernumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.function_createday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.function_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.function_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.function_id })
        </td>
    </tr>
}

</table>
